
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
          <a routerLink="home" class="navbar-brand" href="#"><img id="MDB-logo"
            src="https://res.cloudinary.com/ajaybajwa/image/upload/t_logo-resized/v1724723419/Ecommerce/wpx8efjh1q1ysoohw5ex.png" alt=""
            draggable="false" height="30" /></a>
          
  
      <!-- Toggle button -->
     <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button> -->
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <!--<ul class="navbar-nav me-3">
          <li class="nav-item">
            <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
                class="fas fa-bars pe-2"></i>Menu</a>
          </li>
        </ul>-->
        <!-- Left links -->
  
        <form class="d-flex align-items-center w-100 form-search">
          <div class="input-group">
      
            <input class="form-control" type="text" [(ngModel)]="searchString" (keyup.enter)="searchProducts()"
            (keyup.enter)="routeToResult()" name="categories" placeholder="See what you'll find" aria-label="Search" />
          </div>
          <button (click)="searchProducts()" (click)="routeToResult()" class="text-white"> <i class="fas fa-search fa-xl ps-3"></i> </button> 
          
        </form>
        <app-cart-status></app-cart-status>
        <a class="nav-link d-flex align-items-center text-white" routerLink="user/details"><i class="fas fa-user fa-xl ps-3"></i></a>
        <a class="nav-link d-flex align-items-center text-white" (click)="signOut()"><em class="fa-solid fa-right-from-bracket fa-xl"></em></a>

      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->